Chapter 5 - Example 11 (MTOM)/src/main/java/mtom.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.1-hudson-28-. -->
<!-- Marcelo Leite - WSDL contendo as modificações necessárias para apresentar 
	os serviços de transmissão de arquivos otimizada através de MTOM. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://images.acaosistemas.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://images.acaosistemas.com.br/"
	name="SkiImageServiceService">
	<types>
		<xs:schema xmlns:tns="http://images.acaosistemas.com.br/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://images.acaosistemas.com.br/">
			<xs:element name="getImage" type="tns:getImage" />
			<xs:element name="getImageResponse" type="tns:getImageResponse" />
			<xs:element name="getImages" type="tns:getImages" />
			<xs:element name="getImagesResponse" type="tns:getImagesResponse" />
			<xs:complexType name="getImage">
				<xs:sequence>
					<xs:element name="arg0" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getImageResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:base64Binary"
						minOccurs="0" xmime:expectedContentTypes="application/octet-stream"
						xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getImages">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getImagesResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:base64Binary"
						minOccurs="0" maxOccurs="unbounded" xmime:expectedContentTypes="application/octet-stream"
						xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getImages">
		<part name="parameters" element="tns:getImages" />
	</message>
	<message name="getImagesResponse">
		<part name="parameters" element="tns:getImagesResponse" />
	</message>
	<message name="getImage">
		<part name="parameters" element="tns:getImage" />
	</message>
	<message name="getImageResponse">
		<part name="parameters" element="tns:getImageResponse" />
	</message>
	<portType name="SkiImageService">
		<operation name="getImages">
			<input
				wsam:Action="http://images.acaosistemas.com.br/SkiImageService/getImagesRequest"
				message="tns:getImages" />
			<output
				wsam:Action="http://images.acaosistemas.com.br/SkiImageService/getImagesResponse"
				message="tns:getImagesResponse" />
		</operation>
		<operation name="getImage">
			<input
				wsam:Action="http://images.acaosistemas.com.br/SkiImageService/getImageRequest"
				message="tns:getImage" />
			<output
				wsam:Action="http://images.acaosistemas.com.br/SkiImageService/getImageResponse"
				message="tns:getImageResponse" />
		</operation>
	</portType>
	<binding name="SkiImageServicePortBinding" type="tns:SkiImageService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getImages">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getImage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SkiImageServiceService">
		<port name="SkiImageServicePort" binding="tns:SkiImageServicePortBinding">
			<soap:address location="http://localhost:8080/images" />
		</port>
	</service>
</definitions>