Chapter 4 - Example 1/RandService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://rand.acaosistemas.com.br/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://rand.acaosistemas.com.br/">

	<xs:element name="next1" type="tns:next1"></xs:element>

	<xs:element name="next1Response" type="tns:next1Response"></xs:element>

	<xs:element name="nextN" type="tns:nextN"></xs:element>

	<xs:element name="nextNResponse" type="tns:nextNResponse"></xs:element>

	<xs:complexType name="nextN">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="nextNResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:int" nillable="true"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="next1">
		<xs:sequence></xs:sequence>
	</xs:complexType>

	<xs:complexType name="next1Response">
		<xs:sequence>
			<xs:element name="return" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>